/* global */
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #fff;
}
body, html {
    min-height: 100%;
}
body {
    background-image: url("images/default.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-wrap {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(20px, auto);
}
.horizontal-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.all-center {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.container {
    margin-left: 5%;
    margin-right: 5%;
}
/* input */
form {
    grid-column: 1/13;
    grid-row: 1/3;
}
#zipInput {
    padding: 20px;
    grid-column: 1/10;
    border-bottom: solid 1px #fff;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
}
#zipInput::placeholder {
    color: #fff;
}
#btn {
    grid-column: 10/13;
    background-color: #fff;
    border: none;
    padding: 5px;
}
#btn img {
    width: 30px;
    margin-top: 5px;
}
/* display info */
#defaultText {
    grid-column: 1/13;
    font-size: 40px;
    text-align: center;
    grid-row: 15/20;
}
#error {
    grid-column: 1/13;
}
#city {
    grid-column: 1/13;
    grid-row: 7/9;
}
#city p {
    font-size: 48px;
}
#weather {
    grid-column: 1/13;
    grid-row: 16/19;
}
#temp {
    grid-column: 1/13;
    grid-row: 13/16;
    font-size: 120px;
}
#hi-lo {
    grid-column: 1/13;
    grid-row: 23/25;
    text-align: center;
    font-size: 20px;
}
#back {
    position: fixed;
    bottom: 5%;
    background-color: transparent;
    border: none;
    display: none;
}
#back img {
    width: 35px;
}
/* tint */
.tint {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}
/* error */
#error {
    font-size: 12px;
    padding: 5px;
}
/* media queries */
/* iphone 6, 7, 8 */
@media screen and (max-height: 667px) {
    #defaultText {
        grid-row: 10/15;
    }
    #temp {
        grid-row: 10/13;
    }
    #weather {
        grid-row: 13/16;
    }
    #hi-lo {
        grid-row: 19/21;
    }
}
/* iphone 5, 5s, se */
@media screen and (max-height: 568px) {
    #hi-lo {
        grid-row: 17/20;
    }
}
@media screen and (max-width: 320px) {
    * {
        font-size: 14px;
    }
    #defaultText {
        font-size: 36px;
    }
    #city p {
        font-size: 44px;
    }
    #temp {
        font-size: 110px;
    }
    #hi-lo {
        font-size: 18px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        margin-left: 20%;
        margin-right: 20%;
    }
    #back {
        top: 5%;
        left: 5%;
        bottom: auto;
    }
    #defaultText {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }
    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #error {
        position: absolute;
        top: 60%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
    #temp {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
    }
    #weather {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
    }
    #hi-lo {
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
    }
}